.ember-animated-hidden {
    visibility: hidden !important;
}

.ember-animated-none {
    display: none !important;
}

.ember-animated-top-collapse {
    margin-top: 0 !important;
}

.animated-container {
    position: relative;
}

.animated-container:before, .animated-container:after {
    content: ' ';
    display: table;
}

.animated-orphans {
    position: relative;
}

.eat-motion-indicator {
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
}

.eat-motion-indicator.active {
    background-color: green;
}

.eat-time-control {
    display: flex;
    padding: 0.5em 1.5em;
    flex-direction: column;
}
.eat-time-control > div {
    display: flex;
    align-items: center;
}
.eat-time-control > div > label {
    min-width: 8em;
}
.eat-time-control > div > div {
    flex: 1;
    position: relative;
}
.eat-time-control--tick-marks {
    min-height: 1.5em;
    margin-bottom: 4px;
}

.eat-time-control--tick-marks > div {
    position: absolute;
    border-left: 1px solid black;
    height: 1em;
    margin-top: 1em;
}

.eat-time-control--tick-marks > div > span {
    position: relative;
    top: -4px;
    left: 4px;
    cursor: pointer;
}

.eat-time-control--slider {
    width: 100%;
    padding: 0;
    margin: 0;
}

.animated-tools {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1rem;
    width: 50vw;
    transform: translateX(100%);
    transition: transform 250ms;
    opacity: 0.9;
    z-index: 1;
}

.animated-tools.is-open {
    transform: none;
}

.animated-tools-launcher {
    cursor: pointer;
    position: absolute;
    left: -1.5rem;
    width: 1.5rem;
    bottom: 0;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right-width: 0;
    background-color: #ddd;
}

.animated-tools-panel {
    background-color: #ddd;
    border: 1px solid black;
}

.ember-animated-hidden {
    visibility: hidden !important;
}

.ember-animated-none {
    display: none !important;
}

.ember-animated-top-collapse {
    margin-top: 0 !important;
}

.animated-container {
    position: relative;
}

.animated-container:before, .animated-container:after {
    content: ' ';
    display: table;
}

.animated-orphans {
    position: relative;
}

