{{! BEGIN-SNIPPET transitions-snippet.hbs }}
<div class="controls">
  <label>
    Show Message
    <input
      type="checkbox"
      checked={{this.showMessage}}
      {{on "change" this.toggleShowMessage}}
    >
  </label>
</div>

<div class="scenario-transitions">
  <AnimatedContainer>
    {{#animated-if this.showMessage use=this.slideFromSide}}
      <div class="message">
        Hello
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
{{! END-SNIPPET }}