 {{! BEGIN-SNIPPET transitions-snippet.hbs }}
<div class="controls">
  <label>
    Show Message
    <input
      type="checkbox"
      checked={{this.custom}}
      {{on "change" (fn (mut this.custom) (not this.custom))}}
    >
  </label>
</div>

<div class="scenario-transitions">
  <AnimatedContainer>
    {{#animated-if this.custom use=this.slideFromSide}}
      <div class="message">
        {{this.mail}}
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
{{! END-SNIPPET }}
