# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try


# unconventional js
/docs/blueprints/*/files/
/docs/vendor/

# compiled output
/docs/dist/
/docs/tmp/

# dependencies
/docs/bower_components/
/docs/node_modules/

