# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/

# dependencies
node_modules/

# *.md copies from release
/addon/README.md
/addon/LICENSE.md

# misc
.env*
.eslintcache
.pnp*
.pnpm-debug.log
.sass-cache
connect.lock
coverage/
libpeerconnection.log
npm-debug.log*
yarn-error.log
.DS_Store
