# See https://help.github.com/ignore-files/ for more about ignoring files.
/.idea/
# dependencies
node_modules/

# *.md copies from release
/addon/README.md
/addon/LICENSE.md

# misc
.env*
.eslintcache
.pnp*
.pnpm-debug.log
.sass-cache
coverage/
.DS_Store
