<div class="inline-text-scenario">
  <div style="position: absolute"><AnimatedOrphans/></div>
  <button type="button" {{on "click" this.toggle}}>Toggle</button>

  {{#animated-if this.tableMode use=this.fade duration=1000}}
    <ul>
      <li><AnimatedText @text="framework" /></li>
      <li><AnimatedText @text="ambitious" /></li>
      <li><AnimatedText @text="applications" /></li>
    </ul>
  {{else}}
    <p>
      A <AnimatedText @text="framework" /> for creating <AnimatedText @text="ambitious" /> web <AnimatedText @text="applications" />.
    </p>
  {{/animated-if}}
</div>