.ember-animated-hidden {
    visibility: hidden !important;
}

.ember-animated-none {
    display: none !important;
}

.ember-animated-top-collapse {
    margin-top: 0 !important;
}

.animated-container {
    position: relative;
}

.animated-container:before, .animated-container:after {
    content: ' ';
    display: table;
}

.animated-orphans {
    position: relative;
}
