{{! BEGIN-SNIPPET opacity-demo-snippet.hbs }}
<div class="controls">
  <label>
    Show Message
    <input
      type="checkbox"
      checked={{this.fadeMessage}}
      {{on "change" this.toggleFadeMessage}}
    >
  </label>
</div>

<div class="scenario-transitions clearfix">
  <AnimatedContainer>
    {{#animated-if this.fadeMessage use=this.transition}}
      <div class="message">
        Hello
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
{{! END-SNIPPET }}
