{{! BEGIN-SNIPPET opacity-demo-snippet.hbs }}
<div class="controls">
  <label>Show Message<input type="checkbox" checked={{fadeMessage}} onchange={{action (mut fadeMessage) (not fadeMessage)}}></label>
</div>

<div class="scenario-transitions clearfix">
  <AnimatedContainer>
    {{#animated-if fadeMessage use=transition }}
      <div class="message">
        {{mail}}
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
{{! END-SNIPPET }}
