{{! BEGIN-SNIPPET opacity-demo-snippet.hbs }}
<div class="controls">
  <label>
    Show Message
    <input
      type="checkbox"
      checked={{this.fadeMessage}}
      {{on "change" (fn (mut this.fadeMessage) (not this.fadeMessage))}}
    >
  </label>
</div>

<div class="scenario-transitions clearfix">
  <AnimatedContainer>
    {{#animated-if this.fadeMessage use=this.transition }}
      <div class="message">
        {{this.mail}}
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
{{! END-SNIPPET }}
