<div class="dev">

{{#link-to "dev.each"}}
  Animated list
{{/link-to}}

{{#link-to "dev.container-only"}}
  Container Only
{{/link-to}}

{{#link-to "dev.two-lists"}}
  Between two lists
{{/link-to}}

{{#link-to "dev.swapping-lists"}}
  Swapping lists
{{/link-to}}

{{#link-to "dev.bind"}}
  Animated Bind
{{/link-to}}

{{#link-to "dev.hero"}}
  Hero image
{{/link-to}}

{{#link-to "dev.nested"}}
  Nested animators
{{/link-to}}

{{#link-to "dev.direct-style"}}
  Direct property animation
{{/link-to}}

{{#link-to "dev.inline-text"}}
  Inline text animation
{{/link-to}}

{{#link-to "dev.orphan"}}
  Orphan test
{{/link-to}}

{{#link-to "dev.here-there"}}
  Grouping test
{{/link-to}}

{{#link-to "dev.svg"}}
  SVG test
{{/link-to}}

{{#link-to "dev.beacon"}}
  Beacon test
{{/link-to}}


</div>