{{#animated-value "index-route" initialInsertion=true finalRemoval=true use=transition duration=1000}}
  <div class="hero-list">
    {{#each model as |person|}}
      {{#link-to "demos.hero.detail" person.id tagName="div"}}
        <AnimatedContainer>
          {{#animated-value person duration=1000 as |p|}}
            <div class="hero-list-image">
              <img src={{p.avatarUrl}}>
              <span>Thumbnail</span>
            </div>
          {{/animated-value}}
        </AnimatedContainer>
        <p>{{person.name}}</p>
      {{/link-to}}
    {{/each}}
  </div>
{{/animated-value}}
