<button type="button" {{action "addItem" }}>Add Item</button>

{{#each this.items key="id" as |item|}}
  <div>
    {{item.id}}
    <button type="button" {{action "removeItem" item}}>X</button>
  </div>
{{/each}}
