<div class="scenario-bind">
  {{#animated-container as |c|}}
    {{#animated-bind counter rules=rules notify=c duration=1000 as |v|}}
      <span>{{v}}</span>
    {{/animated-bind}}
  {{/animated-container}}

  <button {{action "increment"}}>+</button>
  <button {{action "decrement"}}>-</button>
</div>
