<div class="scenario-bind">
  {{#animated-container as |c|}}
    {{#animated-bind counter rules=rules notify=c duration=500 as |v|}}
      <span>{{v}}</span>
    {{/animated-bind}}
  {{/animated-container}}

  <button {{action "bump"}}>Bump</button>
</div>
