<button {{action toggleThing}}>Toggle</button>
{{#animated-container}}
    {{#animated-if showThing use=transition }}
        <div class="message" {{action "toggleThing"}}>
            Hello!
        </div>
    {{/animated-if}}
{{/animated-container}}
<p>
    This is outside of the container.
</p>

