{{yield (action fullLog) }}

<table class="transition-log-table">
    <tr><td colspan="3">Sprite Log</td></tr>
  <tr>
    <th>Kept</th>
    <th>Sent</th>
    <th>Received</th>
  </tr>
  {{#animated-each messages as |message|}}
  <tr>
    <td>
      {{message.kept}}
    </td>
    <td>
      {{message.sent}}
    </td>
    <td>
      {{message.received}}
    </td>
  </tr>
  {{/animated-each}}
</table>