<button type="button" {{on "click" this.toggleThing}}>Toggle</button>
{{#animated-if this.showThing use=this.transition}}
  <div class="message" role="button" {{on "click" this.toggleThing}}>
    myContent
  </div>
{{/animated-if}}
