{{! BEGIN-SNIPPET moving-word-snippet.hbs}}
    {{#animated-container class="moving-word" ~}}
        {{#animated-value text use=transition duration=duration ~}}
            <span>{{text}}</span>
        {{/animated-value ~}}
    {{/animated-container ~}}
{{! END-SNIPPET }}