{{! BEGIN-SNIPPET sprites-snippet.hbs }}
<div class="scenario-sprites">
  <h1>Inbox</h1>
  <button {{action "addItem"}}>Refresh</button>
  
  {{#animated-container}}
    {{#animated-each items key="id" use=transition as |item|}}
      <div class="each-item">
        {{item.message}}
        <button {{action "removeItem" item}}>Delete</button>
      </div>
    {{/animated-each}}
  {{/animated-container}}

  {{message}}
</div>
{{! END-SNIPPET }}