<div class="scenario-swapping-lists">
  <div>
    <button {{action "swap"}}>Swap</button>
  </div>

  {{#if leftItems}}
    {{#animated-container class="left"}}
      {{#animated-each leftItems use=transition key="id" as |item|}}
        <div>
          {{item.id}}
        </div>
      {{/animated-each}}
    {{/animated-container}}
  {{else}}
    {{#animated-container class="right"}}
      {{#animated-each rightItems use=transition key="id" as |item|}}
        <div>
          {{item.id}}
        </div>
      {{/animated-each}}
    {{/animated-container}}
  {{/if}}
</div>
