{{! BEGIN-SNIPPET transitions-fade-snippet.hbs }}

<div class="controls">
    <label>Fade<input type="checkbox" checked={{fadeMessage}} onchange={{action (mut fadeMessage) (not fadeMessage)}}></label>
</div>

<div class="scenario-transitions clearfix">
    {{#animated-container}}
        {{#animated-if fadeMessage use=fade }}
            <div class="message">
                {{mail}}
            </div>
        {{/animated-if}}
    {{/animated-container}}
</div>
{{! END-SNIPPET }}