{{#animated-container}}
    {{#animated-value counter rules=rules duration=100 as |v|}}
        <span class= "numbers">{{v}}</span>
    {{/animated-value}}
{{/animated-container}}
<button {{action "increment"}}>+</button>
<button {{action "decrement"}}>-</button>
