{{! BEGIN-SNIPPET detail-snippet.hbs }}
<div class="hero-detail">
  <LinkTo @route="docs.between.index">Back to list</LinkTo>

  <h2>{{this.model.name}}</h2>

  <AnimatedContainer>
    {{#animated-value this.model use=this.transition duration=1000 as |m|}}
      <div class="hero-detail-image">
        <img src={{m.avatarUrl}} alt={{m.name}}>
        <span>Big Image</span>
      </div>
    {{/animated-value}}
  </AnimatedContainer>
  <p>
    This is after the image.
  </p>
</div>
{{! END-SNIPPET }}