<div class="homepage">

  <LinkTo @route="demos.each">
    Animated list
  </LinkTo>

  <LinkTo @route="demos.container-only">
    Container Only
  </LinkTo>

  <LinkTo @route="demos.two-lists">
    Between two lists
  </LinkTo>

  <LinkTo @route="demos.swapping-lists">
    Swapping lists
  </LinkTo>

  <LinkTo @route="demos.bind">
    Animated Bind
  </LinkTo>

  <LinkTo @route="demos.hero">
    Hero image
  </LinkTo>

  <LinkTo @route="demos.nested">
    Nested animators
  </LinkTo>

  <LinkTo @route="demos.direct-style">
    Direct property animation
  </LinkTo>

  <LinkTo @route="demos.inline-text">
    Inline text animation
  </LinkTo>

  <LinkTo @route="demos.orphan">
    Orphan test
  </LinkTo>

  <LinkTo @route="demos.here-there">
    Grouping test
  </LinkTo>

  <LinkTo @route="demos.svg">
    SVG test
  </LinkTo>

  <LinkTo @route="demos.beacon">
    Beacon test
  </LinkTo>

  <LinkTo @route="demos.ifdemo">
    If Demo
  </LinkTo>

  <LinkTo @route="demos.eachdemo">
    Each Demo
  </LinkTo>

  <LinkTo @route="demos.valuedemo">
    Value Demo
  </LinkTo>

  <LinkTo @route="demos.containerdemo">
    Container Demo
  </LinkTo>

  <LinkTo @route="demos.beacondemo">
    Beacon Demo
  </LinkTo>



</div>
