<div class="homepage">

  {{#link-to "demos.each"}}
    Animated list
  {{/link-to}}

  {{#link-to "demos.container-only"}}
    Container Only
  {{/link-to}}

  {{#link-to "demos.two-lists"}}
    Between two lists
  {{/link-to}}

  {{#link-to "demos.swapping-lists"}}
    Swapping lists
  {{/link-to}}

  {{#link-to "demos.bind"}}
    Animated Bind
  {{/link-to}}

  {{#link-to "demos.hero"}}
    Hero image
  {{/link-to}}

  {{#link-to "demos.nested"}}
    Nested animators
  {{/link-to}}

  {{#link-to "demos.direct-style"}}
    Direct property animation
  {{/link-to}}

  {{#link-to "demos.inline-text"}}
    Inline text animation
  {{/link-to}}

  {{#link-to "demos.orphan"}}
    Orphan test
  {{/link-to}}

  {{#link-to "demos.here-there"}}
    Grouping test
  {{/link-to}}

  {{#link-to "demos.svg"}}
    SVG test
  {{/link-to}}

  {{#link-to "demos.beacon"}}
    Beacon test
  {{/link-to}}


</div>
