<div class="scenario-orphan">

  {{! make sure the orphans have a different offset parent than their original sprites to make sure we can counteract it }}
  <div style="position: relative; top: 40px">
    {{animated-orphans}}
  </div>


  <button {{action "toggle"}}>Toggle</button>

  {{#if showDetail}}

    {{#animated-value use=fade duration=2000 group="one" initialInsertion=true}}
      <h1 class="one">1</h1>
    {{/animated-value}}


    {{#animated-value use=fromSide duration=2000 group="two" initialInsertion=true }}
      <h1 class="two">2</h1>
    {{/animated-value}}

  {{/if}}

</div>