<div class="scenario-orphan">

  {{! make sure the orphans have a different offset parent than their original sprites to make sure we can counteract it }}
  <div style="position: relative; top: 40px">
    <AnimatedOrphans/>
  </div>


  <button type="button" {{on "click" this.toggle}}>Toggle</button>

  {{#if this.showDetail}}

    {{#animated-value use=this.fade duration=2000 group="one" initialInsertion=true finalRemoval=true}}
      <h1 class="one">1</h1>
    {{/animated-value}}


    {{#animated-value use=this.fromSide duration=2000 group="two" initialInsertion=true finalRemoval=true }}
      <h1 class="two">2</h1>
    {{/animated-value}}

  {{/if}}

</div>