.homepage > a {
    display: block;
}
/* BEGIN-SNIPPET sprites-snippet.css */
.scenario-sprites > .animated-container {
    border: 1px solid rgb(0, 136, 255);
    width: 40%
}

.scenario-sprites .each-item {
    border-collapse: collapse;
    border: 1px solid rgb(69, 158, 237);
    font-style: bold;
    background-color:rgb(129, 203, 247);
    color: white;
}

.scenario-sprites .h1 {
    font: sans-serif;
    font-style: bold;
}

.scenario-sprites .each-item > button {
    xbackground-color:white;
    color:white;
    float: right;
    transition: background-color .5s;
}

.scenario-sprites button:hover {
    background-color: rgb(68, 121, 228);
}
/* END-SNIPPET */

.scenario-each > .animated-container {
    overflow: hidden;
    transform: translateZ(0);
    border: 1px solid green;
}

.scenario-container-only > .animated-container {
    border: 1px solid red;
}

.scenario-two-lists > .animated-container {
    width:40%;
    float: left;
}

.scenario-swapping-lists .left {
    width:40%;
    float: left;
}
.scenario-swapping-lists .right {
    width: 40%;
    float: right;
}

.scenario-swapping-lists .left-item {
    color: red;
}

.scenario-bind .animated-container {
    font-size: 3rem;
    float: left;
    margin: 3rem;
}

.scenario-bind button {
    float: left;
    font-size: 3rem;
}

.scenario-bind span {
    border: 1px solid blue;
}

.scenario-bind > .animated-container {
    border: 1px solid red;
    overflow: hidden;
    transform: translateZ(0);
}

.hero-list {
    display: flex;
    flex-wrap: wrap;
}

.hero-list > div {
    cursor: pointer;
    margin: 10px;
}

.hero-list-image {
    width: 60px;
    height: 60px;
}

.hero-list-image > img {
    width: 100%;
    height: 100%;
}

.hero-list-image > span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
}

.hero-detail {
    margin-left: 6rem;
    margin-top: 6rem;
}

.hero-detail-image {
    width: 120px;
    height: 120px;
}

.hero-detail-image > img {
    width: 100%;
    height: 100%;
}

.hero-detail-image > span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
}

.scenario-direct-style--item {
    position: absolute;
    text-align: center;
    padding: 4px;
}

.scenario-direct-style--frame {
    border: 1px solid blue;
    color: transparent;
}

.inline-text-scenario .inline {
    display: inline-block;
}

.animated-text {
    display: inline-block;
    vertical-align: top;
}

.scenario-orphan {
    width: 10em;
    margin-left: 5em;
}

.scenario-orphan h1 {
    background-color: #bbebbb;
    padding: 0 0.5em;
    margin: 0.5em;
    transform: translateX(20px);
}


.scenario-here-there > div {
    display: flex;
}

.scenario-here-there > div > div {
    width: 50%;
}

.scenario-here-there .demo-item {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.scenario-beacon-modal {
    position: absolute;
    left: 30%;
    top: 40%;
    width: 20em;
    min-height: 10em;
    background-color: #c4c4ff;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 5px;
}

.scenario-beacon-trash {
    vertical-align: baseline;
    float: right;
    width: 10em;
    background-color: lightblue;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 10px;
}

/* BEGIN-SNIPPET transitions-snippet.css */
.scenario-transitions  {
    width: 10em;
    height: 5em;
}

.scenario-transitions .message {
    width: 7em;
    background-color: lightblue;
    color: white;
    font: italic bold 16px/2 cursive;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 10px;
}

.scenario-transitions .h1 {
    font: sans-serif;
    font-style: bold;
    background-color: blue;
}
/* END-SNIPPET */