.homepage > a {
    display: block;
}

.motion-indicator {
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
}

.motion-indicator.active {
    background-color: green;
}

.scenario-each > .animated-container {
    overflow: hidden;
    transform: translateZ(0);
    border: 1px solid green;
}

.scenario-container-only > .animated-container {
    border: 1px solid red;
}

.scenario-two-lists > .animated-container {
    width:40%;
    float: left;
}

.scenario-swapping-lists .left {
    width:40%;
    float: left;
}
.scenario-swapping-lists .right {
    width: 40%;
    float: right;
}

.scenario-bind .animated-container {
    font-size: 3rem;
    float: left;
    margin: 3rem;
}

.scenario-bind button {
    float: left;
    font-size: 3rem;
}

.scenario-bind span {
    border: 1px solid blue;
}

.scenario-bind > .animated-container {
    border: 1px solid red;
    overflow: hidden;
    transform: translateZ(0);
}

.hero-list {
    display: flex;
    flex-wrap: wrap;
}

.hero-list > div {
    cursor: pointer;
    margin: 10px;
}

.hero-list-image {
    width: 60px;
    height: 60px;
}

.hero-list-image > img {
    width: 100%;
    height: 100%;
}

.hero-list-image > span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
}

.hero-detail {
    margin-left: 6rem;
    margin-top: 6rem;
}

.hero-detail-image {
    width: 120px;
    height: 120px;
}

.hero-detail-image > img {
    width: 100%;
    height: 100%;
}

.hero-detail-image > span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
}

.scenario-direct-style--item {
    position: absolute;
    text-align: center;
    padding: 4px;
}

.scenario-direct-style--frame {
    border: 1px solid blue;
    color: transparent;
}

.inline-text-scenario .inline {
    display: inline-block;
}

.animated-text {
    display: inline-block;
    vertical-align: top;
}

.scenario-orphan {
    width: 10em;
    margin-left: 5em;
}

.scenario-orphan h1 {
    background-color: #bbebbb;
    padding: 0 0.5em;
    margin: 0.5em;
    transform: translateX(20px);
}

.ea-time-control {
    border: 1px solid black;
    display: flex;
    width: 50%;
    padding: 0.5em 1.5em;
    flex-direction: column;
}
.ea-time-control > div {
    display: flex;
    align-items: center;
}
.ea-time-control > div > label {
    min-width: 8em;
}
.ea-time-control > div > div {
    flex: 1;
    position: relative;
}
.ea-time-control--tick-marks {
    min-height: 1.5em;
}

.ea-time-control--tick-marks > div {
    position: absolute;
    border-left: 1px solid black;
    height: 1em;
    margin-top: 1em;
}
.ea-time-control--tick-marks > div > button {
    position: relative;
    left: -50%;
    top: -1em;
    border: 0;
    cursor: pointer;
    text-align: center;
}
.ea-time-control--slider {
    width: 100%;
}
