.motion-indicator {
    width: 10px;
    height: 10px;
    background-color: red;
}

.motion-indicator.active {
    background-color: green;
}

.scenario-each > .animated-container {
    overflow: hidden;
    transform: translateZ(0);
    border: 1px solid green;
}

.scenario-container-only > .animated-container {
    border: 1px solid red;
}

.scenario-two-lists > .animated-container {
    width:40%;
    float: left;
}

.scenario-swapping-lists .left {
    width:40%;
    float: left;
}
.scenario-swapping-lists .right {
    width: 40%;
    float: right;
}

.scenario-bind .animated-container {
    font-size: 3rem;
    float: left;
}

.scenario-bind button {
    float: left;
}

.scenario-bind span {
    border: 1px solid blue;
}
