{{! BEGIN-SNIPPET moving-word-snippet.hbs}}
<AnimatedContainer class="moving-word">
  {{#animated-value text use=transition duration=duration}}
    <span>{{text}}</span>
  {{/animated-value}}
</AnimatedContainer>
{{! END-SNIPPET }}
