<AnimatedContainer class="animated-text">
  {{#animated-value this.text duration=1000 use=this.transition}}
    <span style='display: inline-block;'>{{this.text}}</span>
  {{/animated-value}}
</AnimatedContainer>
