<div class="lg:flex lg:-mx-4">
  <div class='lg:w-2/5 lg:flex-no-shrink lg:mx-4'>
    <div class="bg-white rounded-lg shadow-lg mb-8">
      <div class='flex h-128 relative overflow-hidden'>
        <div class='w-1/3 p-6'>
          <button {{action 'createNotification'}}
            class='px-3 py-2 text-grey-darker rounded active:text-grey-darkest
              focus:outline-none focus:shadow-outline'
          >
            Notify me
          </button>
        </div>

        <div class='w-2/3 pr-4'>
          <div class='w-full h-full flex flex-col justify-end'>
            {{#animated-each notifications key='id' use=(if this.separateEnabled this.transition this.fade) as |notification|}}
              {{index/demo-2/notification-card
                notification=notification
                onDismiss=(action 'destroyNotification' notification)
              }}
            {{/animated-each}}
          </div>
        </div>
      </div>

      {{#index/components/toggle-bar
        enabled=this.separateEnabled
        onToggle=(action (mut this.separateEnabled))
      }}
        ✨Separate
      {{/index/components/toggle-bar}}
    </div>
  </div>

  <div class='lg:mx-4 lg:w-3/5'>
    {{index/utils/animated-code-diff
      label='template.hbs'
      diff=this.templateDiff
      isShowingFinal=this.separateEnabled
      onAnimationChange=(action (mut this.isAnimating))
    }}

    <div class="mt-4">
      {{index/utils/animated-code-diff
        label='component.js'
        diff=this.componentDiff
        isShowingFinal=this.separateEnabled
        animationPaused=this.isAnimating
      }}
    </div>
  </div>
</div>
