{{! template-lint-disable no-inline-styles }}
{{! BEGIN-SNIPPET moving-word-text-snippet.hbs }}
<div class="moving-word-demo">
  <div style="position: absolute"><AnimatedOrphans/></div>
  <button type="button" {{on "click" this.toggle}}>Toggle</button>

  <MovingWordsDemo as |demo|>
    <AnimatedContainer>
      {{#animated-if this.listMode use=this.transition duration=1000}}
        <ul>
          <li><demo.moving-word @text="framework" /></li>
          <li><demo.moving-word @text="ambitious" /></li>
          <li><demo.moving-word @text="applications" /></li>
        </ul>
      {{else}}
        <p style="color: lightblue; font-size: 20px; letter-spacing: .2rem">
          A <demo.moving-word @text="framework" /> for creating <demo.moving-word @text="ambitious" /> web <demo.moving-word @text="applications" />.
        </p>
      {{/animated-if}}
    </AnimatedContainer>
  </MovingWordsDemo>

</div>
{{! END-SNIPPET }}