<EaDocsHeader />

<DocsHero />

<div class="my-20 w-full max-w-md lg:max-w-2xl mx-auto px-4">
  <div class="text-center max-w-lg mx-auto">
    <h2 class='text-4xl font-semibold leading-tight'>
      Use your existing business logic
    </h2>
    <p class='mt-4 text-lg'>
      Add animation with minimal changes to your existing application code.
    </p>
  </div>

  <div class="mt-16">
    <Index::Demo-1 />
  </div>

  <div class="text-center mt-32 max-w-lg mx-auto">
    <h2 class='text-4xl font-semibold leading-tight'>
      A motion for every state
    </h2>
    <p class='mt-4 text-lg'>
      Use independent behaviors for entering, exiting and updating elements.
    </p>
  </div>

  <div class="mt-16">
    <Index::Demo-2 />
  </div>

  <div class="text-center mt-32 max-w-lg mx-auto">
    <h2 class='text-4xl font-semibold leading-tight'>
      The power of promises
    </h2>
    <p class='mt-4 text-lg'>
      Get creative with ES6 Generators and make sophisticated, staggered sequences.
    </p>
  </div>

  <div class="mt-16">
    <Index::Demo-3 />
  </div>
</div>

<div class="docs-bg-brand">
  <div class="w-full max-w-md lg:max-w-2xl mx-auto py-32 px-4 text-center text-white">
    <h1 class='leading-tight text-4xl lg:text-5xl'>Ready to dive in?</h1>
    <div class="mt-4">
      <LinkTo @route="docs" class="text-xl text-white">Read the docs</LinkTo>
    </div>
  </div>
</div>

