<button type="button" {{on "click" this.toggleThing}}>Toggle</button>
<AnimatedContainer>
  {{#animated-if this.showThing use=this.transition }}
    <div class="message" role="button" {{on "click" this.toggleThing}}>
      Hello!
    </div>
  {{/animated-if}}
</AnimatedContainer>
<p>
  This is outside of the container.
</p>

