<button type="button" {{on "click" (perform this.addItemTask)}}>Add Item</button>

{{#each this.items key="id" as |item|}}
  <div>
    {{item.id}}
    <button type="button" {{on "click" (perform this.removeItemTask item)}}>X</button>
  </div>
{{/each}}
