<AnimatedContainer>
  {{#animated-value this.counter rules=this.rules duration=100 as |v|}}
    <span class="numbers">{{v}}</span>
  {{/animated-value}}
</AnimatedContainer>
<button type="button" {{on "click" this.increment}}>+</button>
<button type="button" {{on "click" this.decrement}}>-</button>
