<div class="bg-red-light text-white py-2 px-2 text-sm font-bold shadow-inner">
  <div class="docs-container">
    These docs are in the process of being written. Contributions are encouraged!
  </div>
</div>
{{outlet}}
{{animated-tools}}
