{{ea-docs-header}}

{{docs-hero
  logo="ember"
  slimHeading="Ember Animated"
  byline="Core animation primitives for Ember"}}

<div class="docs-container docs-md">
  <section class="max-w-md mx-auto pb-8">
    {{index/index-content}}
  </section>
</div>
