{{#docs-navbar logo='ember-cli' name='Addon Docs'}}
  {{#link-to 'demos' class="docs-navbar__link"}}
    Demos
  {{/link-to}}
{{/docs-navbar}}

{{docs-hero
  logo='ember'
  slimHeading='Animated'
  byline='Core animation primitives for Ember'}}

<div class='doc-container docs-md'>
  <section class='docs-section'>
    {{index/index-content}}
  </section>
</div>
