<div class="docs-container bg-red-light text-white py-2 text-sm font-bold shadow-inner">
    These docs are in the process of being written. Contributions are encouraged! 
</div>

{{ea-docs-header}}

{{docs-hero
  logo='ember'
  slimHeading='Ember Animated'
  byline='Core animation primitives for Ember'}}

<div class='docs-container docs-md'>
  <section class='max-w-md mx-auto pb-8'>
    {{index/index-content}}
  </section>
</div>
