<button {{action "addCollection"}}>New Collection</button>
{{#animated-container as |outer|}}
  {{#animated-each collections rules=rules key="title" notify=outer as |collection|}}
    <div>
      <h2>{{collection.title}}</h2>
      <button {{action "addMember" collection}}>Add</button>

      {{#animated-container tagName="ul" as |inner|}}
        {{#animated-each collection.members rules=rules key="name" notify=inner as |member|}}
          <li>{{member.name}}</li>
        {{/animated-each}}
      {{/animated-container}}

    </div>
  {{/animated-each}}
{{/animated-container}}