<div class="scenario-orphan">

  {{! make sure the orphans have a different offset parent than their original sprites to make sure we can counteract it }}
  <div style="position: relative; top: 40px">
    {{animated-orphans}}
  </div>


  <button {{action "toggle"}}>Toggle</button>

  {{#if showDetail}}

    {{#animated-bind use=fade duration=2000 group="one" }}
      <h1>1</h1>
    {{/animated-bind}}


    {{#animated-bind use=fromSide duration=2000 group="two"}}
      <h1>2</h1>
    {{/animated-bind}}

  {{/if}}

</div>