<div class="hero-detail">
  {{#link-to "hero.index"}}Back to list{{/link-to}}

  <h2>{{model.name}}</h2>

  {{#animated-container}}
    {{#animated-value model use=transition duration=1000 as |m|}}
      <div class="hero-detail-image">
        <img src={{m.avatarUrl}}>
        <span>Big Image</span>
      </div>
    {{/animated-value}}
  {{/animated-container}}
  <p>
    This is after the image.
  </p>
</div>