<div class="hero-detail">
  {{#link-to "hero.index"}}Back to list{{/link-to}}

  <h2>{{model.name}}</h2>

  {{#animated-container as |c|}}
    {{#animated-bind model rules=rules notify=c duration=500 as |m|}}
      <img src={{m.avatarUrl}}>
    {{/animated-bind}}
  {{/animated-container}}
  <p>
    This is after the image.
  </p>
</div>