<div class="hero-list">
  {{#each model as |person|}}
    {{#link-to "hero.detail" person.id tagName="div"}}
      {{#animated-container}}
        {{#animated-bind person rules=rules duration=500 as |p|}}
          <img src={{p.avatarUrl}}>
        {{/animated-bind}}
      {{/animated-container}}
      <p>{{person.name}}</p>
    {{/link-to}}
  {{/each}}
</div>
