{{#animated-value "index-route" initialInsertion=true use=transition duration=1000}}
<div class="hero-list">
  {{#each model as |person|}}
    {{#link-to "hero.detail" person.id tagName="div"}}
      {{#animated-container}}
        {{#animated-value person duration=1000 as |p|}}
          <div class="hero-list-image">
            <img src={{p.avatarUrl}}>
            <span>Thumbnail</span>
          </div>
        {{/animated-value}}
      {{/animated-container}}
      <p>{{person.name}}</p>
    {{/link-to}}
  {{/each}}
</div>
{{/animated-value}}