{{!BEGIN-SNIPPET transitions-moveover-snippet.hbs}}
<div class="move-over">
  <label>
    Show Hello
    <input
      type="checkbox"
      checked={{this.showHello}}
      {{on "change" (fn (mut this.showHello) (not this.showHello))}}
    >
  </label>

  <AnimatedContainer>
    {{#animated-if this.showHello rules=this.rules}}
      <div class="hello">
        Hello
      </div>
    {{else}}
      <div class="goodbye">
        Goodbye
      </div>
    {{/animated-if}}
  </AnimatedContainer>
</div>
{{!END-SNIPPET}}
