<AnimatedContainer class="animated-text">
  {{#animated-value this.text duration=1000 use=this.transition as |text|}}
    <span style="display: inline-block;">{{text}}</span>
  {{/animated-value}}
</AnimatedContainer>
