{{#animated-beacon name="one"}}
  <button type="button" {{on "click" this.launch}}>Launch</button>
{{/animated-beacon}}

{{#animated-if this.showThing use=this.transition duration=500}}
  <div class="beacon-demo--message" role="button" {{on "click" this.dismiss}}>
    Hello
  </div>
{{/animated-if}}

{{! template-lint-disable no-forbidden-elements }}
<style>
  .beacon-demo--message {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 200px;
    border: 1px solid black;
    background-color: yellow;
  }
</style>