<div class="scenario-beacon">
  {{#animated-beacon name="beacontest"}}
    <button type="button" {{action "launch"}}>Launch</button>
  {{/animated-beacon}}
</div>


{{#animated-if this.showingModal use=this.transition duration=500}}
  <div class="scenario-beacon-modal" {{action "dismiss"}}>
    Hi
  </div>
{{/animated-if}}
