{{!BEGIN-SNIPPET rules-snippet.hbs}}
<div class="scenario-rules clearfix">
  <button type="button" {{action "increment"}}>+</button>
  <button type="button" {{action "decrement"}}>-</button>

  <AnimatedContainer>
    {{#animated-value counter rules=rules duration=1000 as |v|}}
      <span class="count">{{v}}</span>
    {{/animated-value}}
  </AnimatedContainer>
</div>
{{! END-SNIPPET }}
